<h1>Listing hand_states</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Length</th>
    <th>Points</th>
    <th>Fl</th>
    <th>Fv</th>
    <th>Together</th>
    <th>Totalpots</th>
    <th>Totalfl</th>
    <th>Totalfv</th>
    <th>Bits</th>
    <th>Loser</th>
    <th>Totalloser</th>
    <th>Control</th>
    <th>Totalcontrol</th>
    <th>Counts</th>
    <th>Totalcounts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hand_states.each do |hand_state| %>
  <tr>
    <td><%= hand_state.email %></td>
    <td><%= hand_state.length %></td>
    <td><%= hand_state.points %></td>
    <td><%= hand_state.fl %></td>
    <td><%= hand_state.fv %></td>
    <td><%= hand_state.together %></td>
    <td><%= hand_state.totalpots %></td>
    <td><%= hand_state.totalfl %></td>
    <td><%= hand_state.totalfv %></td>
    <td><%= hand_state.bits %></td>
    <td><%= hand_state.loser %></td>
    <td><%= hand_state.totalloser %></td>
    <td><%= hand_state.control %></td>
    <td><%= hand_state.totalcontrol %></td>
    <td><%= hand_state.counts %></td>
    <td><%= hand_state.totalcounts %></td>
    <td><%= link_to 'Show', hand_state %></td>
    <td><%= link_to 'Edit', edit_hand_state_path(hand_state) %></td>
    <td><%= link_to 'Destroy', hand_state, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hand state', new_hand_state_path %>
