<div class="headerstyle">
<br></br>
<h1>Bidpal - The Bridge Bidding practice site</h1>
</div>

<div id="menubar">
<table width="100%">
	<tr>
<td>
	<!--	<%= link_to "Administrator", :admin %>
		<%= link_to "Dealer", :dealer %>                               
 		<%= link_to "Player", :bidding %> -->
	
	<%= tabs_tag :open_tabs => { :id => "tabs", :class => "cool" } do |tab| %>
	  <%= tab.home       'Administrator', :admin, :style => "padding: 20px" %>
	  <%= tab.dashboard  'Dealer', :handTypes, :style => "padding: 20px" %>
	  <%= tab.account    'Player', :bidding %>
	<% end %>	 		
	</td>
	<td align="right">	<%= link_to "Signout", :logout %>
	</td>
	</tr>
	</table>
</div>
<table>
	<tr>
		<td>
			<div id="overviewPanel"> 
			<h2 align="center">Overview</h2>
			<table>
				<tr>
					<td>
						<div id="myHandTypesPanel">
							<h3 align="center"> My Hnad Types</h3>
							<div id="bottom">
								<%= link_to 'more...', hand_states_path %>
							</div>
							
							<p>I am feeling good</p>
						</div>
					</td>
				</tr>
					<tr>
					<td>
						<div id="myProjectsPanel">
							<h3 align="center"> My Projects</h3>
						</div>
				   </td>
				</tr>
				
			</table>
			</div>
		</td>
		
		<td>
			<div id="biddingPanel"> 
			<h2 align="center">Bidding</h2>
			<table>
				<tr>
					<td>
						<div id="yourTurnPanel">
							<h3 align="center"> Your Turn(Partner Has entered the Bid)</h3>
						</div>
					</td>
				</tr>
					<tr>
					<td>
						<div id="newDealsPanel">
							<h3 align="center"> New Deals</h3>
						</div>
				   </td>
				</tr>
				
				<tr>
					<td>
						<div id="discussionPanel">
							<h3 align="center"> Discussion</h3>
						</div>
				   </td>
				</tr>
				
				<tr>
					<td>
						<div id="archivePanel">
							<h3 align="center"> Archive</h3>
						</div>
				   </td>
				</tr>
				
			</table>
			</div>	
		</td>
		
		<td>
			<div id="messagesPanel"> 
			<h2 align="center">Messages</h2>
			</div>
		</td>
	</tr>
</table>





