<div class="headerstyle">
<br></br>
<h1>Bidpal - The Bridge Bidding practice site</h1>
</div>

<div id="menubar">
<table width="100%">
	<tr>
<td>
	<!--	<%= link_to "Administrator", :admin %>
		<%= link_to "Dealer", :dealer %>                               
 		<%= link_to "Player", :bidding %> -->
	
	<%= tabs_tag :open_tabs => { :id => "tabs", :class => "cool" } do |tab| %>
	  <%= tab.home       'Administrator', :admin, :style => "padding: 20px" %>
	  <%= tab.dashboard  'Dealer', :dealer, :style => "padding: 20px" %>
	  <%= tab.account    'PLayer', :bidding %>
	<% end %>	 		
	</td>
	<td align="right">	<%= link_to "Signout", :logout %>
	</td>
	</tr>
	</table>
</div>




