<div class="headerstyle">
<br></br>
<h1>Bidpal - Create Hand and Generate Deal</h1>
</div>
<div id="menubar" align="right">
	<%= link_to "Signout", :logout %>
</div>

<%= render 'form' %>

<table>
<tr>
<td>
<%= button_to "Back", hand_states_path, :method => "get" %>
</td>
<td>
	 <%= tag "input", { "type" => "button", "data-remote" => "true", "value" => "Generate Deal", "onclick" => "getExpression()" } %> 
</td>

<td>
<%= button_to "Go to Bidding", :bidding, :method => "get" %>
</td>
<td>
	 <%= tag "input", { "type" => "button", "value" => "Next" } %> 
</td>

</tr>
</table>