<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @hand_state.email %>
</p>

<p>
  <b>Length:</b>
  <%= @hand_state.length %>
</p>

<p>
  <b>Points:</b>
  <%= @hand_state.points %>
</p>

<p>
  <b>Fl:</b>
  <%= @hand_state.fl %>
</p>

<p>
  <b>Fv:</b>
  <%= @hand_state.fv %>
</p>

<p>
  <b>Together:</b>
  <%= @hand_state.together %>
</p>

<p>
  <b>Totalpots:</b>
  <%= @hand_state.totalpots %>
</p>

<p>
  <b>Totalfl:</b>
  <%= @hand_state.totalfl %>
</p>

<p>
  <b>Totalfv:</b>
  <%= @hand_state.totalfv %>
</p>

<p>
  <b>Bits:</b>
  <%= @hand_state.bits %>
</p>

<p>
  <b>Loser:</b>
  <%= @hand_state.loser %>
</p>

<p>
  <b>Totalloser:</b>
  <%= @hand_state.totalloser %>
</p>

<p>
  <b>Control:</b>
  <%= @hand_state.control %>
</p>

<p>
  <b>Totalcontrol:</b>
  <%= @hand_state.totalcontrol %>
</p>

<p>
  <b>Counts:</b>
  <%= @hand_state.counts %>
</p>

<p>
  <b>Totalcounts:</b>
  <%= @hand_state.totalcounts %>
</p>


<%= link_to 'Edit', edit_hand_state_path(@hand_state) %> |
<%= link_to 'Back', hand_states_path %>
