<div class="headerstyle">
<br></br>
<h1>Bidpal - Administrator</h1>
</div>
<div id="menubar">
	<table width="100%">
	<tr>
		<td>
		<!--	<%= link_to "Home", :home %>
		</td>
		
		<td>
			<%= link_to "Play", :dealer %> -->
		<%= tabs_tag :open_tabs => { :id => "tabs", :class => "cool" } do |tab| %>
			  <%= tab.home       'Home', :home, :style => "padding: 20px" %>
			  <%= tab.dashboard  'About US', :about_us, :style => "padding: 20px" %>
			  <%= tab.account    'Bridge Game', :game %>
			  <%= tab.account    'Contact US', :contact %>
		<% end %>

		</td>
		
		<td align="right">
			<%= link_to "Signout", :logout %>
		</td>
		
	</tr>
</table>
	
</div>

<h1>Listing Players</h1>
<p id="notice"> <%= notice %></p>
<table id="AllUser" width="400">
  <tr>
    <th align="left">Username</th>

  </tr>

<% if @users %>
<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= button_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
		