<%= form_for([current_user, @chat_message]) do |f| %>
  <% if @chat_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_message.errors.count, "error") %> prohibited this chat_message from being saved:</h2>

      <ul>
      <% @chat_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
	<table cellspacing = 3>
	<tr>
	<td>
	 <div class="field">
	 <%= f.hidden_field :name, :value => session[:name] %>
	 <%= f.text_field :message, :size => 42 %>
  </div>
  </td>
   <td>
   <div class="actions">
    <%= f.submit "Send" %>
    </div>
	</td>
	</tr>
	</table>
	
   

<% end %>