<div class="headerstyle">
<br></br>
<h1>Bidpal - Bid To Win</h1>
</div>

<div id="menubar" align="right">
	<%= link_to "Signout", :logout %>
</div>


<table>
	<tr>
		<td>
			<h2> Online Users </h2>
		</td>
		<td>
			<h2> Chatter box </h2>
		</td>
			
	</tr>
	
	<tr>
		<td>
			<div class="editable2">
				<table width = "100" style="table-layout:fixed" >
					<% if @user %>
					<% @users.each do |user| %>
					<tr>						
						<td>
						<%= user.username %>
						</td>
						<td>
							</td>
					</tr> 
					<% end %>
					<% end %>
				</table>
			</div>
		</td>
			
		<td>
			
		<div id="TextEdit" class="editable">
			<table width = "320" style="table-layout:fixed" >
				    <% if @chat_message %>
						<% @chat_messages.each do |chat_message| %>
							<tr>
							 <td><%= chat_message.name %></td>
							 <td align = right><div style="word-wrap: break-word;"><%= chat_message.message %></div></td>	
							</tr>		
						<% end %>
					<% end %>
					
				</table>
		</div>
	</td>
 </tr>
 
 <tr>
 	<td>
 		<table>
 			<tr>
 				<td>
 					<%= button_to "Dealer", :dealer, :method => "get" %>
 				</td>
 				<td>
 					<%= button_to "Home", hand_states_path, :method => "get" %>
 				</td>
 			</tr>
		</table> 					
 	</td>
 	<td>
 		<script type="text/javascript">
			setTimeout(function() {Ajax();}, 30000);
		</script>
 
		<%= render 'form' %>

 	</td>
 </tr>
</table>



