<!DOCTYPE html>
<html>
<head>
  <title>BidPal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
<% if current_user %>
	<%= link_to "Edit Profile", edit_user_path(current_user.id)%>
	<%= link_to "Signup", new_user_path %> |
	<%= link_to "Signout", :logout %>
<% else %>
        <%= link_to "Signup", new_user_path %> |
         <%= link_to "Signin", :login %>
<% end %>
    </div>
<%= yield %>


</body>
</html>